.tpPlayer * {
  outline: none;
}

.tpPlayer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  --background-color: #000;
  --row-color: #000;
  --play-overlay-color: RGBA(50, 50, 50, 0.8);
  --control-background-color: #333333;
  --expander-color: #333333;
  --expander-selected-color: none;
  --expander-hover-color: #222222;
}

#btnNext,
#btnPrev {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 10%;
  border: none;
  opacity: 0;
  pointer-events: none;
  background: #000;
  /*background: #ccc;*/
  outline: none;
  transition: opacity 0.5s;
  cursor: default;
}

#btnNext.fade,
#btnPrev.fade,
#btnNext.over,
#btnPrev.over,
.tpPaused #btnNext,
.tpPaused #btnPrev {
  opacity: 0.5;
  pointer-events: auto;
  cursor: pointer;
  z-index: 3;
}

#btnPrev {
  left: 0;
}

#btnPrev::after {
  background: url('../img/right-arrow--white.svg') no-repeat;
  left: 50%;
  transform: translate(-50%, -50%);
}

#btnNext::after {
  background: url('../img/left-arrow--white.svg') no-repeat;
  right: 50%;
  transform: translate(50%, -50%);
}

#btnPrev::after,
#btnNext::after {
  display: block;
  background-size: contain;
  height: 6vw;
  width: 4vw;
  position: absolute;
  top: 50%;
  content: '';
}
